<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/base.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>About Us</title>
    </head>

    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="navbar-brand">RainTec Phone Repair</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <button type="button" class="btn btn-link"><a href="Home.html" class="nav-link" href="#">Home</a></button>
                        </li>
                        <li class="nav-item">
                           <button type="button" class="btn btn-link"><a href="Repairs.html" class="nav-link" href="#">Repairs</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-link"><a href="Refurbished.html" class="nav-link" href="#">Refurbished Phones</a></button>
                        </li>
                        <li class="nav-item">
                              <button type="button" class="btn btn-link"><a href="Contact.html" class="nav-link" href="#">Contact Us</a></button>
                        </li>
                        <li class="nav-item">
                              <button type="button" class="btn btn-link"><a href="FAQ.html" class="nav-link" href="#">FAQ</a></button>
                        </li>
                        <li class="nav-item">
                              <button type="button" class="btn btn-link"><a href="Reviews.html" class="nav-link" href="#">Reviews</a></button>
                        </li>
                    </ul>
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>

        <ul class="list-unstyled">
          <li class="media">
            <img src="../images/star.png" width="24" height="24" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Header</h5>
                Ut egestas scelerisque ipsum, vel rutrum urna tincidunt ut. Morbi ante urna, tincidunt id malesuada nec, cursus sed massa. Ut vel fermentum ex, eu scelerisque est. Pellentesque convallis eget dui eu feugiat. Aliquam quis nunc vehicula, tempor risus et, sollicitudin sapien. Fusce urna sapien, hendrerit id mollis vel, feugiat ut nibh. Maecenas facilisis nisl a urna dignissim suscipit et ut diam. Quisque commodo condimentum vulputate. Integer non tempus neque, a condimentum libero. Nam auctor tempor sem, in congue felis. Suspendisse a semper lectus, in hendrerit dui. Proin pretium quam arcu, vitae malesuada lorem eleifend et. Donec pharetra aliquam sem sit amet elementum. Aenean fringilla orci interdum, laoreet ipsum in, condimentum enim.            </div>
          </li>
            <br>
          <li class="media">
            <img src="../images/star.png" width="24" height="24" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Header</h5>
                Vestibulum ullamcorper feugiat ipsum, vitae commodo nibh imperdiet at. Nam ut hendrerit est, eu maximus diam. Aenean sit amet suscipit massa. Curabitur sit amet ultricies odio, blandit tempus ligula. Proin maximus euismod nisi et porttitor. Sed mi leo, dapibus vitae nunc vitae, vehicula elementum tellus. Duis vitae accumsan ex. Fusce rhoncus mi a est scelerisque accumsan. Donec lacinia, nulla eget luctus tincidunt, nisi dui eleifend ante, et venenatis risus eros ut odio. Sed sollicitudin, lorem ut tristique dictum, lacus tellus laoreet justo, at venenatis lacus metus a quam.            </div>
          </li>

          </li>
        </ul>
    </body>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">© RainTec Phone Repair 2019</span>
        </div>
    </footer>

</html>

